# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
/.vs/daany/v16
/.vs/daany/DesignTimeBuild
/test/Daany.Test.App
/nuget.exe

/TestResults/eb78576d-20c6-4d8e-802f-cf2d0281c089
/TestResults/4055a533-4553-4ea6-b2df-fb90ad9d5bc8
/src/daany.lina/.vs
/src/daany.lina/packages
/src/daany.lina/src/cpp/LapackBinding/Debug
/src/daany.lina/src/cpp/LapackBinding/x64/Debug
/src/daany.lina/src/cpp/LapackWndTest/Debug
/src/daany.lina/src/cpp/LapackWndTest/x64/Debug
/src/daany.lina/x64/Debug
/src/daany.lina/packages
/src/daany.lina/src/cpp/LapackWndTest/Debug
/src/daany.lina/src/cpp/LapackWndTest/x64/Debug
/TestResults
/src/daany.lina/src/cpp/LapackWndTest/x64/Release
