# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs
/Magmav2Binding/x64/Debug
/MagmaWndTest/Debug
/MagmaWndTest/magma_test
/MagmaWndTest/x64/Debug
/x64/Debug
/Magmav2Binding/x64/Release
/MagmaWndTest/x64/Release
/x64/Release
/MagmaSharp/bin/x64/Release/netstandard2.0
/MagmaSharp/obj
/MagmaSharp.TestApp/bin/x64/Release/netcoreapp3.1
/MagmaSharp.TestApp/obj
/MagmaSharp.XUnit/bin/x64
/MagmaSharp.XUnit/obj
/packages/intelmkl.redist.win-x64.2020.2.254
/packages/intelopenmp.redist.win.2020.0.166
/packages/inteltbb.redist.win.2020.0.166
/MagmaSharp/bin
/MagmaSharp.TestApp/bin/x64/Debug/netcoreapp3.1
/LapackBinding/x64/Debug
/LapackBinding/x64/Release
/MagmaSharp.TestApp/bin/Debug/netcoreapp3.1
/MagmaSharp.XUnit/bin/Debug/netcoreapp3.1
/MagmaLib/Release/include
/MagmaLib/Debug/include
/packages/inteltbb.redist.win.2020.3.254
/packages/intelopenmp.redist.win.2020.2.254
/src/.net/MagmaSharp/obj
/src/.net/MagmaSharp/bin
/src/.net/MagmaSharp.TestApp/bin
/src/.net/MagmaSharp.TestApp/obj
/src/cpp/LapackBinding/Debug
/src/cpp/LapackBinding/x64/Debug
/src/cpp/Magmav2Binding/Debug
/src/cpp/Magmav2Binding/x64/Debug
/src/cpp/MagmaWndTest/x64/Debug
/test/MagmaSharp.XUnit/bin
/test/MagmaSharp.XUnit/obj
/src/cpp/LapackBinding/x64/Release
/src/cpp/Magmav2Binding/x64/Release
/src/cpp/MagmaWndTest/x64/Release
/nuget/MagmaSharp.0.1.10.nupkg
/nuget/MagmaSharp.0.1.16.nupkg
/nuget/MagmaSharp.0.1.15.nupkg
/nuget/MagmaSharp.0.1.14.nupkg
/nuget/MagmaSharp.0.1.13.nupkg
/nuget/MagmaSharp.0.1.12.nupkg
/nuget/MagmaSharp.0.1.11.nupkg
/nuget/MagmaSharp.0.1.17.nupkg
/nuget/MagmaSharp.0.2.1.nupkg
/src/.net/LapackSharp/bin/x64/Debug/netstandard2.1
/src/.net/LapackSharp/obj
/src/.net/LapackSharp/bin
/src/.net/LapackSharp/bin
/src/daany.lina/packages