<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="intelmkl.devel.win-x64" version="2021.1.1.52" targetFramework="native" />
  <package id="intelmkl.redist.win-x64" version="2021.1.1.52" targetFramework="native" />
  <package id="intelopenmp.devel.win" version="2021.1.1.191" targetFramework="native" />
  <package id="intelopenmp.redist.win" version="2021.1.1.191" targetFramework="native" />
  <package id="inteltbb.devel.win" version="2021.1.1.133" targetFramework="native" />
  <package id="inteltbb.redist.win" version="2021.1.1.133" targetFramework="native" />
</packages>